MLFLOW_TRACKING_URI=http://localhost:5000
PREFECT_API_URL=http://localhost:4200/api
FEAST_REPO_PATH=./feature_store/feast_repo
DVC_REMOTE=./dvc_remote
PROMETHEUS_PORT=8001
GRAFANA_PORT=3000
REDIS_URL=redis://localhost:6379
LOG_LEVEL=INFO
